body {
  margin: 0;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 280px; /* 0 width - change this with JavaScript */
    z-index: 1;  /*Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    position: fixed; /* Stay in place */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.content {
    padding: 300px;
    padding-top: 70px;
    height: 40%;
    width: auto;
    font-size: 18px;
    /*float: right;*/
}

/* chart page style */
.chartContainer {
    padding: 300px;
    padding-top: 70px;
    height: auto;
    width: 700px;
    /*float: right;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
